In [5]:
import pickle
import json
import pandas as pd

In [6]:
with open ('best_model.pkl','rb') as file:
    model = pickle.load(file)

In [7]:
data={
       'Surname': ['Widodo'],
       'CreditScore': [500],
       'Geography': ['Germany'],
       'Gender': ['Female'],
       'Age': [45],
       'Tenure': [12],
       'Balance': [100000],
       'NumOfProducts': [2],
       'HasCrCard': [1],
       'IsActiveMember' : [1],
       'EstimatedSalary' : [50000]
       }

data_inf = pd.DataFrame(data)
data_inf

,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,Widodo,500,Germany,Female,45,12,100000,2,1,1,50000

In [8]:
y_pred = model.predict(data_inf)
y_pred

array([0], dtype=int64)